.courses {
    margin-top: $mg-2 + $mg-2;
    .courses__content {
        width: 70%;
        margin: auto;
        .courses__left {
            background-color: $color-gray-5;
            width: 100%;
            .courses__intro {
                padding-top: 9rem;
                @include styleText($color-black-0, $fs-4 -4, $fw-normal);
            }
        }
        .myTab {
            .nav {
                justify-content: space-between;
                border: none;
                .nav-item {
                    &:hover {
                        .nav-link {
                            border: none;
                        }
                    }
                    .nav-link.active {
                        border: none;
                        border-bottom: 5px solid $color-blue;
                    }
                    .nav-link {
                        @include styleText($color-black-0, $fs-0, $fw-normal);
                        border: none;
                    }
                }
            }
            .tab-content {
                margin-top: $mg-2;
                position: relative;
                .courses__items {
                    a {
                        text-decoration: none;
                    }
                    .card:hover {
                        box-shadow: -5px 1px 8px 5px $color-gray-3;
                        img {
                            opacity: 0.7;
                            transition: all 0.5s;
                        }
                    }
                }
                .card-title {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 20px;
                    height: 42px;
                    @include styleText($color-black-0, $fs-0, $fw-bold);
                }
                .card-text {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 20px;
                    height: 42px;
                    @include styleText($color-gray-4, $fs-1, $fw-normal);
                }
                .rating {
                    display: flex;
                    .rating-stars {
                        @include styleText($color-yellow, $fs-1, $fw-normal);
                        margin-right: $mg-0;
                    }
                    span:nth-child(2) {
                        padding: 0 $pd-0;
                        @include styleText($color-gray-4, $fs-1, $fw-bold);
                    }
                    span:last-child {
                        @include styleText($color-gray-4, $fs-1, $fw-normal);
                    }
                }
                .price {
                    text-align: right;
                    .old-price {
                        @include styleText($color-gray-4, $fs-1, $fw-normal);
                        text-decoration: line-through;
                    }
                    .new-price {
                        @include styleText($color-black-0, $fs-0, $fw-bold);
                    }
                }
            }
            .best-saller {
                top: 5%;
                width: 90px;
                height: 20px;
                position: absolute;
                text-align: left;
                border-top-right-radius: 70px;
                border-bottom-right-radius: 70px;
                background-color: $color-yellow;
                p {
                    padding-top: $pd-0 -1;
                    padding-left: $pd-0;
                    text-transform: uppercase;
                    @include styleText($color-black-0, $fs-1 - 3, $fw-bold-1);
                }
            }
        }
    }
}
